@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
    border: 80px solid #0d0d0d;
    height: 100svh;
    position: relative;
    overflow: hidden;
}

.shadow-letter:hover {
}

